*, *::before, *::after{
    padding: 0%;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    /*background-color: rgb(255, 255, 255);*/
    background-image: url("/img/FONDO6664.jpg"); 
}
@media (max-width:630px){
    @media (max-width: 1087px){
        body{
            background-image: url("/img/A71Back.jpg"); 
        }
    }
}
/*scrollbar*/
::-webkit-scrollbar{
    background: rgba(117, 122, 72, 0.068);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.445);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background: #556569;
}
::-webkit-scrollbar-thumb:active{
    background: #000000;
}
::-webkit-scrollbar-track{
    background: #00000000;
}
::-webkit-scrollbar-track:hover{
    background: #00000065;
}
*{
    box-sizing: border-box;
}
#cajacabecera{
    width: 100%;
    background: #1d1c1c;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
#cabecera{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: auto;
}
.menu{
    width: 100%;
}
#btn-menu{
    display: none;
}
#mmovil{
    font-size: 30px;
    cursor: pointer;
    display: none;
    text-align: right;
    color: #27d800;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li a{
    display: block;
    line-height: 85px;
    padding: 0 20px;
    color: #0692b9;
    text-decoration: none;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 13px;
}
.menu ul li a i{
    padding-right: 6px;
}
.menu a:hover{
    color: #ad0e0e;
    border-bottom: 2px solid #d9ff00;
}

#Logo{
    width: 10%;
    
    padding: 0px 0; 
    margin-right: 110px;
}

/*INICIO*/

.section{
   /* background-image: url("../img/Fondo22.png"); */
    
    width: 100%;
    height: 900px;
    margin: 0;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 200px;
}
#contenido-inicio{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
h1{
    font-family: 'Agency FB';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 50px;
    text-align: center;
    color: #3039a1;
    
}
.tit1{
    margin: 20PX;
}
.tit2{
    font-family: 'Arial Nova Cond Ligth';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #2375da;
}
/*CARD*/
#gridinicio {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    gap: 10px;
    background-color: none;
    margin: auto;
  }
#nt1{
    width: 100%;
    display: flex;
    margin: 2px;
    padding: auto;
    /*top: 90px;
    left: 110px;
    right: 10px;
    bottom: 250px;
    */
}
.card{
    width: 90%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.267);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    
}
.card:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    transform: translateY(-3%);
}
.card img{
    width: 130px;
    height: 130px;
    margin: 37px;
}
/*CAROUSEL*/

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 500px;
    width: 300%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenes{
    height: 500px;
    width: 100%;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}


/******************************************************/


/* RESPOSIVE DESIGN*/
@media (max-width:630px){
    @media (max-width: 1087px){
        #cabecera{
           justify-content: space-between;
       } 
       #Logo{
           width: 20%;
           display: block;
           padding-left: 20px;
       }
       .menu{
           position: absolute;
           top: 100%;
           transform: translateX(-100%);
           transition: all 0.5s;
       }
       .menu ul{
           flex-direction: column;
           background: #000000;
           opacity: 75%;
       }
       .menu ul li a{
           line-height: 45px;
           padding: 0 20px;
           border-bottom: 2px solid #6848;
       }
       #mmovil{
           display: block;
           padding-right: 20px;
       }
   }
   #btn-menu:checked ~ .menu{
       transform: translateX(0%);
   }
    .scroll{
        max-width: 100%;
    }
    
    #contenido-inicio{
            width:100%;
            display: block;
            position: absolute;
            border: 0;
            left: 5px;
            right: 0px;
            top: 15px;
            bottom: 0px;
    }
    h1{
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        color: #3039a1;
    }
    .tit1{
        margin: 0PX;
    }
    .tit2{
        font-family: 'Arial';
        font-style: normal;
        
        font-size: 25px;
        line-height: 10px;
        text-align: center;
        color: #2375da;
    }
}
/*RESPONSIVE CARDS
@media (max-width:800px){
    
    #gridinicio {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        gap: 0.5px;
        background-color: none;
        padding: 10px;
      }

        #nt1{
            width: 100%;
            display: block;
            position: absolute;
            border: 0;
            left: 0px;
            right: 0px;
            top: 200px;
            bottom: 0px;
        }
        
        #card0{
            width: 190px;
            height: 155px;
            display: flex;
            position: relative;
            border: 0;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
        }
        .card img{
            width: 120px;
            height: 55x;
        }
}
*/

/*RESPONSIVE INICIO Y CARDS*/
@media (max-width:630px){
    @media (max-width: 1087px){
        .section{
            /* background-image: url("../img/Fondo22.png"); */
             
             width: 100%;
             height: 900px;
             margin: 0;
             position: relative;
             overflow: hidden;
             padding-top: 500px;
             padding-bottom: 50px;
         }
         
         .inicio{
             /*background-image: url("../img/Fondo1.jpg");   */
             background-size: cover;
             background-position: center center;
             background-attachment: fixed;
             height: 100vh;
             position: relative;
             padding-top: 90px;
             overflow: hidden;
             
         }
         
         
         #contenido-inicio{
             width: 90%;
             padding-top: 40px;
             margin: auto;
         }
         h1{
             font-family: 'Agency FB';
             font-style: normal;
             font-weight: 80%;
             font-size: 40px;
             line-height: 30px;
             text-align: center;
             color: #3039a1;
             
         }
         .tit1{
             margin: 10PX;
         }
         .tit2{
             font-family: 'Arial Nova Cond Ligth';
             font-style: normal;
             font-weight: 100%;
             font-size: 30px;
             line-height: 30px;
             text-align: center;
             color: #2375da;
         } 
         /*CARD*/
         #gridinicio {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            gap: 0.5px;
            background-color: none;
            
           }
         #nt1{
            width: 100%;
            display: block;
            position: absolute;
            border: 0;
            left: 0px;
            right: 0px;
            top: 200px;
            bottom: 0px;
         }
         .card{
             width: 90%;
             margin: 05px;
             border-radius: 6px;
             overflow: hidden;
             background: rgba(255, 255, 255, 0.267);
             box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
             cursor: default;
             transition: all 400ms ease;
             
         }
         .card img{
             width: 70px;
             height: 70px;
             margin: 02px;
         }
         
         
         .cajacolumnas2{
             display: flex;
         }
         .columnas2{
             width: 30%;
             padding: 0 2%;
             border: 10px solid #f7f7f7b8;
             border-radius: 15px;
             border-style: inset;
             margin-top: 30px;
             margin-left: 15px;
             background-color: rgba(209, 209, 209, 0.45)
         }
         .columnas2 h2{
             font-family: 'Chivo';
             font-style: normal;
             font-weight: 700;
             font-size: 23px;
             line-height: 28px;
             text-align: center;
             color: #4c0b51;
             
         }
         .columnas2 img{
             display: block;
             margin: auto;
         }
         .columnas2 p{
             font-family: 'Chivo';
             font-style: normal;
             font-weight: 400;
             font-size: 12px;
             line-height: 14px;
             text-align: center;
             color: #cc18b7;
             box-sizing: content-box;
             margin-top: 30px;
         }
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++PRODUCTOS++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

     .sectionproductos{
        /*background-image: url("../img/Fondo22.png"); */
        
        width: 100%;
        margin: 0;
        position: relative;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 20px;
    }
     .cajatitulos{
        display: flexbox;
        width: 100%;
        height: 80px;
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 0px;
        padding-bottom: 0%;
        
    }
    .cajatitulos h2{
        display: flexbox;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 79px;
        text-align: center;
        color: #0692b9;
    }
    .cajaproductos{
        display: flexbox;
        width: 100%;
        height: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
     #gridproductos {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        gap: 10px;
        background-color: none;
        padding: 10px;
      }
      
      #gridproductos > div {
        background-color: rgba(26, 68, 6, 0.8);
       
        text-align: center;
        font-size: 30px;
        border-radius: 5px;
      }


      #cardproductos{
        width: 100%;
        margin: 1px;
        border-radius: 6px;
        overflow: hidden;
        background-image: url(/img/Productosbackground.jpg);
        
    }
    #cardproductos:hover{
        box-shadow: 5px 5px 10px rgb(91, 219, 131);
        transform: translateY(-3%);
    }
    #cardproductos img{
        width: 180px;
        height: 150px;
    }

    /* RESPOSIVE DESIGN*/ /* PRODUCTOS */
@media (max-width:630px){
    @media (max-width: 1087px){
        .sectionproductos{
            width: 100%;
            margin: 0;
            position: relative;
            overflow: hidden;
            padding-top: 100px;
            padding-bottom: 20px;
        }
         .cajatitulos{
            display: flexbox;
            width: 100%;
            height: 80px;
            padding-right: 0%;
            padding-left: 0%;
            padding-top: 0px;
            padding-bottom: 0%;
            
        }
        .cajatitulos h2{
            display: flexbox;
            padding-top: 3px;
            padding-bottom: 3px;
            font-family: 'Aref Ruqaa';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 79px;
            text-align: center;
            color: #0692b9;
        }
        /*CAJAS GRID PRODUCTOS XD*/
        .cajaproductos{
            display: flexbox;
            width: 100%;
            height: 100%;
            padding-right: 1%;
            padding-left: 1%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        
         #gridproductos {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
            gap: 10px;
            background-color: none;
            padding: 10px;
          }
          
          #gridproductos > div {
            background-color: rgba(26, 68, 6, 0.8);
           
            text-align: center;
            font-size: 30px;
            border-radius: 5px;
          }
    
    
          #cardproductos{
            width: 100%;
            margin: 1px;
            border-radius: 6px;
            overflow: hidden;
            background-image: url(/img/Productosbackground.jpg);
            
        }
        #cardproductos:hover{
            box-shadow: 5px 5px 10px rgb(91, 219, 131);
            transform: translateY(-3%);
        }
        #cardproductos img{
            width: 160px;
            height: 130px;
        }
    }
}
    
    /*SERVICIOS*/
    .sectionservicios{
        width: 100%;
        margin: 0;
        position: relative;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 20px;
    }
     .cajatitulosservicios{
        display: flexbox;
        width: 100%;
        height: 80px;
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 0px;
        padding-bottom: 0%;
        
    }
    .cajatitulosservicios h2{
        display: flexbox;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 79px;
        text-align: center;
        color: #0692b9;
    }
    
    /* Container for flexboxes */
  .row {
    display: flex;
    width: 100%;
    height: 760px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
  }
  
  .column {
    padding: 10px;
    height: 620px;
  }
  
  /* Left and right column */
  /*
  .column.side1 {
     width: 10%;
     height: 100%;
  }
  */
  .column.side2 {
    flex: 1px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.596) url("/img/asesoramiento1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
 }

  
  /* Middle column */
  .column.middle {
    flex: 1px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.596) url("/img/reparacion1.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }
  
  .product_info {
    display: auto;
    width: auto;
    height: 400px;
    line-height: 30px;
    border-radius: 30px;
    background-color: #ffffff96;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 20px;
    margin: 90px;
    text-align: center;
  }
  .product_info h2{
    color: #0692b9;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 20px;
    
    
  }
  .product_info p{
    color: #000000;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 20px;
    
  }
  .product_info_content{
    display: auto;
    width: 550px;
    height: 400px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    background-color: #ffffff96;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 20px;
    margin: 90px;
  }
  .product_info_content h2{
    color: #0692b9;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 20px;
  }
  .product_info_content p{
    color: #000000;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 20px;
  }

/*RESPONSIVE SERVICIOS*/
  @media (max-width:630px){
    @media (max-width: 1087px){
        .sectionservicios{
            width: 100%;
            margin: 0;
            position: relative;
            overflow: hidden;
            padding-top: 100px;
            padding-bottom: 20px;
        }
         .cajatitulosservicios{
            display: flexbox;
            width: 100%;
            height: 80px;
            padding-right: 0%;
            padding-left: 0%;
            padding-top: 0px;
            padding-bottom: 0%;
            
        }
        .cajatitulosservicios h2{
            display: flexbox;
            padding-top: 3px;
            padding-bottom: 3px;
            font-family: 'Aref Ruqaa';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 79px;
            text-align: center;
            color: #0692b9;
        }
        
        /* Container for flexboxes */
      .row {
        display: flex;
        width: 100%;
        height: 880px;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
      }
      .column.side2 {
        flex: 1px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.596) url("/img/asesoramiento1.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
     }
    
      
      /* Middle column */
      .column.middle {
        flex: 1px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.596) url("/img/reparacion1.jpeg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
      }
      
      .product_info {
        display: auto;
        width: 310px;
        height: 390px;
        line-height: 20px;
        border-radius: 10px;
        background-color: #ffffff96;
        font-family: "Palanquin Dark", sans-serif;
        margin: 20px;
        text-align: center;
      }
      .product_info h2{
        color: #0692b9;
        font-family: "Palanquin Dark", sans-serif;
        font-size: 20px;
        
        
      }
      .product_info p{
        color: #000000;
        font-family: "Palanquin Dark", sans-serif;
        font-size: 19px;
        
      }
      .product_info_content{
        display: auto;
        width: 310px;
        height: 390px;
        line-height: 20px;
        text-align: center;
        border-radius: 10px;
        background-color: #ffffff96;
        font-family: "Palanquin Dark", sans-serif;
        margin: 20px;
      }
      .product_info_content h2{
        color: #0692b9;
        font-family: "Palanquin Dark", sans-serif;
        font-size: 20px;
        
      }
      .product_info_content p{
        color: #000000;
        font-family: "Palanquin Dark", sans-serif;
        font-size: 18px;
      }
    }
}

    /*contactenos*/
    /*...................::::::::::::::::::::.............*/
    .sectioncontactenos{
        /*background-image: url("/img/818541.jpg"); */
        
        width: 100%;
        margin: 0;
        position: relative;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 50px;
    }
     .cajatituloscontactenos{
        display: flexbox;
        width: 100%;
        height: 80px;
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 0px;
        padding-bottom: 0%;
        
    }
    .cajatituloscontactenos h2{
        display: flexbox;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 79px;
        text-align: center;
        color: #0692b9;
    }
    #containercontactenos{
        display: flexbox;
        width: 100%;
        height: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 1%;
        padding-bottom: 5%;
    }
    #gridcontactenos {
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 0px;
        background-color: none;
        padding: 0;
        
      }
      
      #gridcontactenos > div {
        background-color: rgba(255, 255, 255, 0.089);
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
      }


      #cardcontactenos{
        width: 350px;
        height: 450px;
        margin: 50px;
        border-radius: 30px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.74);
        box-shadow: 0px 1px 10px rgba(39, 121, 228, 0.575);
        cursor: default;
        transition: all 400ms ease;
        
    }
    #cardcontactenos:hover{
        box-shadow: 50px 50px 50px rgb(24, 24, 22);
        transform: translateY(-10%);
    }
    #cardcontactenos img{
        width: 130px;
        height: 130px;
    }
    .text-info p{
        display: flexbox;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 60;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #0692b9;
    }
    .text-admins p{
        display: flexbox;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 60;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0692b9;
    }
    

     /* RESPOSIVE DESIGN*/ /* CONTACTANOS */
@media (max-width:630px){
    @media (max-width: 1087px){
    #p-contactenos h2{
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 500px;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        color: #51ff00;
    }
    #containercontactenos{
        display: flexbox;
        width: 100%;
        height: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 1%;
        padding-bottom: 5%;
    }
    #gridcontactenos {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0px;
        background-color: none;
        padding: 0;
        
      }
      
      #gridcontactenos > div {
        background-color: none;
        text-align: center;
        font-size: 30px;
      }


      #cardcontactenos{
        width: 170px;
        height: 260px;
        margin: 3px;
        border-radius: 30px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.733);
        box-shadow: 0px 1px 10px rgba(39, 121, 228, 0.575);
        cursor: default;
        transition: all 400ms ease;
        
    }
    #cardcontactenos:hover{
        box-shadow: 50px 50px 50px rgb(24, 24, 22);
        transform: translateY(-10%);
    }
    #cardcontactenos img{
        width: 30px;
        height: 30px;
    }
    .text-info p{
        display: flexbox;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 10px;
        font-size: 10px;
        line-height: 30px;
        text-align: center;
        color: #0692b9;
    }
    .text-admins p{
        display: flexbox;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: 'Aref Ruqaa';
        font-style: normal;
        font-weight: 60;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #0692b9;
    }
    }
}




   /* Style the footer */
   .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  /*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
